 * {
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: crosshair;
    font-family: helvetica;
    overflow: hidden;
  }

  input {
    text-transform: uppercase;
  }

  footer {
    display: flex-wrap;
  }
  
  .whiteboard {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 0;
    top: 0;
  }

  .Title {
    margin-top: 5px;
    margin-left: 5px;
  }

  .instructions {
    margin: 3px;
  }
  
  .colors {
    position: fixed;
  }
  
  .color {
    height: 48px;
    width: 48px;
    border-radius: 24px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75); 
  }

  .color:hover {
    height: 48px;
    width: 48px;
    border-radius: 24px;
    margin-left: 9px;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75); 
  }
  
  .color.black { background-color: black; color: black;}
  .color.DarkSlateBlue { background-color: DarkSlateBlue; }
  .color.SeaGreen { background-color: SeaGreen; }
  .color.DodgerBlue { background-color: DodgerBlue; }
  .color.Crimson { background-color: Crimson; }
  .color.DarkOrange { background-color: DarkOrange; }
  .color.Gold { background-color: Gold; }
  .color.LightPink { background-color: LightPink; }